.kt-aside, .kt-aside-menu {
    /* background: #ddd;*/
}/*เมนูด้านซ้าย*/
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    /*color: #3a3a5d;*/
    font-size: 1.1rem;
}/*เมนูด้านซ้าย*/
    .kt-aside-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    /*color: #3a3a5d;*/
    font-size: 1.1rem;
}/*เมนูด้านซ้าย*/
        .kt-header-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    font-size: 1.2rem;
}/*เมนูด้านบน*/
.kt-header-menu-mobile .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
    font-size: 1.2rem;
}/*เมนูด้านบน*/
.kt-aside-menu .kt-menu__nav > .kt-menu__section .kt-menu__section-text {
    font-size: 1.1rem;
    font-weight:600;
}/*เมนูด้านซ้าย*/



/* Change Left Menu Size to 450px*/

.kt-iconbox--wave:after {
    left: -450px;
}
.kt-iconbox--animate:after {
    left: -450px;
}
.kt-iconbox--animate-slower:after {
    left: -450px;
}
.kt-iconbox--animate-fast:after {
    left: -450px;
}
.kt-iconbox--animate-faster:after {
    left: -450px;
}
@media (min-width: 1025px) {

    .kt-aside--fixed .kt-wrapper {
        padding-left: 450px;
    }
    .kt-aside--enabled.kt-subheader--fixed .kt-subheader {
        left: 450px;
    }

    .kt-aside--enabled .kt-header.kt-header--fixed {
        left: 450px;
    }
    .kt-aside--enabled .kt-header.kt-header--fixed {
        left: 450px;
    }
    .kt-header--fixed.kt-aside--static .kt-aside__brand {
        width: 450px;
    }
    .kt-aside {
        width: 450px;
    }

    .kt-aside--minimizing .kt-aside .kt-aside-menu .kt-menu__nav {
      width: 450px;
    }
    .kt-aside--minimize .kt-header.kt-header--fixed {
        left: 78px;
    }

    .kt-aside--fixed.kt-aside--minimize-hover .kt-aside {
        width: 450px;
    }
    .kt-aside-menu.kt-aside-menu--dropdown .kt-menu__nav > .kt-menu__item:not([data-ktmenu-submenu-mode=accordion]).kt-menu__item--hover > .kt-menu__submenu {
        margin-left: 450px;
    }
    .kt-footer--fixed .kt-footer {
        left: 450px;
    }
}

@media (max-width: 1024px) {
    .kt-aside {
        width: 450px !important;
        left: -450px;
    }
    .kt-aside--on .kt-aside-close {
        left: 420px;
    }

    #kt_header_mobile_toggler {
        display:none;
    }
}
/* End Change Left Menu Size to 450px*/

.kt-header-menu .kt-menu__submenu--fixed {
    transform: scale(0.8) !important;
    top: 0px !important;
    left: -150px !important;
    margin-top: -30px !important;
} /*Mega Menu*/

@media (min-width: 1025px) {
    .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__heading > .kt-menu__link-text {
        color: #5867dd;
        font-size: medium;
    }
    .kt-header-menu .kt-menu__nav > .kt-menu__item .kt-menu__submenu > .kt-menu__subnav .kt-menu__content .kt-menu__heading > .kt-menu__link-icon {
        color: #5867dd;
    }
} /*Mega Menu*/

.kt-subheader .kt-subheader__main .kt-subheader__title {
    font-weight: 600;
} /*Page Title*/


.kt-quick-panel .kt-quick-panel__content {
    padding:0;
}/* Search Panel */

#kt_quick_panel::-webkit-scrollbar {
    width: 6px;
    background-color: white;
}

#kt_quick_panel::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #5867dd;
    border-radius: 3px;
    visibility: hidden;

}
#kt_quick_panel:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}/* Scrollbar ของ Filter Panel*/

/*.kt-portlet__head-actions .kt-quick-search .input-group * {
    border: none;
    background-color : unset;
}*/
/* Search หัวตาราง*/

.dashboard-table .dashboard-title {
    /*font-weight:600 !important;*/
}
/* font หัวตาราง*/

/*------------------------Content Portlet----------------------*/
.dashboard-chart {

}

.dashboard-table-container {
    padding: 0 !important;
}

.dashboard-table-container .dataTable th {
    font-weight:600;
    font-size:14px;
    text-align:center;
}
