<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings />
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=tit-tech.co.th;Initial Catalog=KSP-MIS;Integrated Security=False;User ID=sa;Password=wx5k,gIi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>

</configuration>
